<div class="navbar-fixed">
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo center"><img class="responsive-img" height="60" width="60" src="cartoon_cupcakes.png"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#about" class="pink-text text-accent-2">About</a></li>
      <li><a href="#contact" class="pink-text text-accent-2">Contact</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons pink-text text-accent-2">menu</i></a>
	</div>
</nav>
</div>

<ul id="nav-mobile" class="side-nav">
  <li><a class="disabled">Where to next?</a></li>
  <li><a href="#about" class="pink-text text-accent-2">About</a></li>
  <li><a href="#contact" class="pink-text text-accent-2">Contact</a></li>
</ul>
